.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

header {
  background-color: white;
  text-align: center;
}

.banner {
  background-image: url('../photos/splash1.png');
  background-size: cover;
  min-height: 300px;
}

footer {
  background-color: white;
  text-align: center;
}

.contents {
  background-color: white;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

@media screen and (max-width: 720px) {
  .banner {
    min-height: 200px;
  }
}
