.gallery {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-auto-rows: auto;
  grid-gap: 15px;
}

.gallery p {
  text-align: center;
  margin-top: 2px;
}

.gallery img {
  max-width: 300px;
}

@media screen and (max-width: 767px) {
  .gallery {
    grid-template-columns: repeat(1, 250px);
  }

  .gallery img {
    max-width: 250px;
  }
}

@media screen and (min-width: 720px) {
  .gallery {
    grid-template-columns: repeat(2, 290px);
  }
  .gallery img {
    max-width: 300px;
  }
}

@media screen and (min-width: 960px) {
  .gallery {
    grid-template-columns: repeat(4, 290px);
  }
  .gallery img {
    max-width: 290px;
  }
}

@media screen and (min-width: 1440px) {
  .gallery {
    grid-template-columns: repeat(4, 300px);
  }
}
