.galleryparent {
  display: grid;
  justify-content: center;
}

.gallery {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 50px;
  text-align: center;
}

.gallery p {
  text-align: center;
  margin-top: 2px;
}

.gallery img {
  max-width: 300px;
  border-style: solid;
  border-color: black;
  border-radius: 5%;
}

.horizontalparent {
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.horizontal {
  display: grid;
  justify-content: center;
}
.horizontal p {
  padding-left: 9em;
  min-width: 455px;
}
.horizontal label {
  float: left;
  clear: none;
  display: block;
  padding: 0px 1em 0px 8px;
}

input[type='radio'],
input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}
.box {
  font-family: 'Comfortaa';
  padding-right: 3em;
  font-size: large;
}
@media screen and (max-width: 720px) {
  .gallery {
    grid-template-columns: repeat(1, 250px);
    display: block;
    text-align: center;
  }

  .gallery img {
    max-width: 250px;
  }
}

@media screen and (min-width: 767px) {
  .gallery {
    grid-template-columns: repeat(2, 290px);
  }
  .gallery img {
    max-width: 300px;
  }
}

@media screen and (min-width: 960px) {
  .gallery {
    grid-template-columns: repeat(3, 290px);
  }
  .gallery img {
    max-width: 290px;
  }
}

@media screen and (min-width: 1440px) {
  .gallery {
    grid-template-columns: repeat(4, 300px);
  }
}
