@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'comfortaa';
  margin: 2rem 0rem 1rem 0rem;
  background-image: url('../photos/background.png');
}

button {
  color: white;
  border-style: hidden;
  background: rgb(104, 166, 224);
  font-weight: 600;
  font-size: 1.2rem;
  margin: 1em;
  border-radius: 20%;
  cursor: pointer;
  padding: 1em;
}

button:hover {
  background-color: rgb(226, 126, 33);
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 0;
}

h4 {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0;
}

p {
  font-weight: bold;
}

.randomcat {
  display: block;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.randomcat img {
  border-style: solid;
  border-color: black;
  border-radius: 5%;
}

.blueparent {
  display: grid;
  justify-content: center;
}

.blue {
  background-color: rgb(104, 166, 224, 0.4);
  min-width: 20em;
  margin: 1em;
  border-radius: 3%;
}

.navigation a {
  color: white;
  background: rgb(104, 166, 224);
  font-weight: 600;
  font-size: 1.2rem;
  border-radius: 10%;
  padding: 0.5em;
}

.navigation a:hover {
  background: rgb(226, 126, 33);
}

.navigation ul {
  list-style-type: none;
  padding-left: 0%;
}

.navigation li {
  margin-bottom: 2em;
}

footer ul {
  list-style-type: none;
}
footer li {
  padding-right: 2em;
}

footer a,
.contents a {
  color: rgb(33, 133, 226);
}

footer a:hover,
.contents a:hover {
  color: rgb(226, 126, 33);
}

input,
label,
textarea {
  display: block;
  margin: auto;
}

@media screen and (min-width: 721px) {
  .navigation li {
    display: inline;
  }
}
