.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    'header'
    'menu'
    'contents'
    'footer';
  max-width: 2000px;

  grid-auto-flow: row;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5%;
}

.header {
  grid-area: header;
}
.menu {
  grid-area: menu;
  margin-bottom: 1rem;
}

.contents {
  grid-area: contents;
}

.footer {
  grid-area: footer;
}

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 2rem 1rem 1rem 1rem;
  background-image: url('../photos/background.png');
}

button {
  font-family: 'Rampart One';
  color: rgb(13, 119, 219);
  border-style: dotted;
  background: none;
  font-weight: 600;
  font-size: 1.2rem;
  margin: 1em;
  border-radius: 20%;
}

h1 {
  font-family: 'Rampart One';
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.randomcat {
  text-align: center;
  border-style: double;
  border-color: grey;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.catinfo {
  font-weight: bold;
}

.menu a {
  font-family: 'Rampart One';
  color: black;
  margin-right: 50px;
}

.img-with-text {
  text-align: justify;
  width: 300px;
  margin: 2px;
}

.img-with-text img {
  display: block;
  margin: 0 auto;
}
